:root{
    --primary-color: rgba(70, 70, 70, 0.8);
    
}

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    background: lightgrey;
    font-family: 'Roboto', sans-serif;
}
.bar{
    background:black;
    width: 100%;
    height: 35px;
}
.navbar{
    background:white;
    width: 100%;
    height: 75px;
    
}

.navbar ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-template-columns: 1fr 1fr;
    height: 100%;
}   

.navbar ul li{
    padding: 0 10%;
}

.navbar a{
    font-size: 20px;
    color: black;
    text-decoration: none;
    transition: 1s;
}

.navbar a:hover{
    color:red;
    border-bottom:1px red solid;
}

.showcase{
    height:100vh;
    /* display:grid;
    grid-template-rows: 1fr 2fr; */
}

.image{
    height:60%;
    background: url('../img/wall.jpg') no-repeat center center/cover;
}

.about{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.info{
    background:white;
    height: 550px;
    width:60%;
    padding:50px;
}

.info p{
    font-size:20px;
}

.info a{
    color:black;
}

.info a:hover{
    text-decoration: none;
}


/* #showcase{
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height:100vh;
}

.about{
    margin-top:500px;
    height:500px;
    border-radius: 10px;
    background:white;
    box-shadow: 5px 5px 10px 3px rgba(0,0,0,0.8);
}
#showcase:before{
    content:'';
    background: url('../img/wall.jpg') no-repeat center center/cover;
    position:absolute;
    top:0;
    left:0;
    width:100%;  
    height:70%;
    z-index: -1;
} */


