*{
    margin:0;
    padding:0;
}

body{
    background:lightgrey;
    color:black;
    font-family: 'Roboto', sans-serif;
}

.bar{
    background:black;
    width: 100%;
    height: 35px;
}
.navbar{
    background:white;
    width: 100%;
    height: 75px;
    
}

.navbar ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-template-columns: 1fr 1fr;
    height: 100%;
}   

.navbar ul li{
    padding: 0 10%;
}

.navbar a{
    font-size: 20px;
    color: black;
    text-decoration: none;
    transition: 1s;
}

.navbar a:hover{
    color:red;
    border-bottom:1px red solid;
}

/* .header-timeline{
    background:grey;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 150px;
    width: 100%;
} */

.timeline ul{
    background: lightgrey;
    padding: 50px 0;
}

.timeline ul li{
    position:relative;
    width: 4px;
    margin: 0 auto;
    padding-top: 50px;
    background:white;
    list-style:none;
}

.timeline ul li div{
    position:relative;
    bottom: 0;
    width: 400px;
    padding:1rem;
    background: white;
    box-shadow: 10px 10px 10px 2px rgba(0,0,0, 0.5);
    border-radius: 0.5%;
}

.timeline ul li:nth-child(odd) div{
    left: 40px;
}

.timeline ul li:nth-child(even) div{
    left: -480px;
}

.timeline ul li:after{
    content:'';
    background:black;
    position:absolute;
    height:15px;
    width:15px;
    border-radius: 50%;
    bottom:0;
    transform:translateX(-50%);
    left:50%;
}

.img{
    border: 1px burlywood solid;
    width:100%;
}

